<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Gambling</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/landing/landing.css}">
</head>
<body>
<div class="header">
    <h1>Weather Gambling</h1>
    <button>
        <a href="/login" class="login">Login</a>
    </button>
</div>
<div class="main-content">
    <div class="welcome-box">
        <p>Das Projekt ist im Zusammenhang mit dem Minihackaton von Kevin Chromik, konnte aktuell aber nocht nicht fertig gestellt werden. EIn paar funktion gehen ein paar nicht, dachte mir aber trotzdem das ich es mal zeige. </p>
    </div>
</div>
</body>
</html>
