<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Gambling</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/search/search.css}">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta name="referrer" content="no-referrer-when-downgrade">


</head>
<body>
<div class="header">
    <div class="stats">
        <a>100WP</a>
        <a href="/ranking">Rangliste</a>
    </div>
    <h1>Weather Gambling</h1>
    <div class="profile" onclick="this.classList.toggle('active')">
        <span th:if="${user['given_name']}" th:text="${user['given_name']}"></span>
        <span th:if="${user['name']}" th:unless="${user['given_name']}" th:text="${user['name']}"></span>
        <img th:src="${user['picture']}" th:if="${user['picture']}" alt="Profilbild"/>
        <img th:src="${user['avatar_url']}" th:if="${user['avatar_url']}" alt="Profilbild"/>
        <div class="dropdown-menu">
            <a href="/account">Konto</a>
            <a href="/privacy-policy">Datenschutz</a>
            <a href="/infos">Infos</a>
            <a href="/logout" style="color: #ef7171">Logout</a>
        </div>
    </div>
</div>
<div class="outer-search-container">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Suche deine Stadt oder PLZ">
        <button id="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.657 0a5.5 5.5 0 1 1 7.778-7.778 5.5 5.5 0 0 1-7.778 7.778z"/>
            </svg>
        </button>
    </div>
    <div id="results"></div>
    <button id="save-location" style="display:none;">Save Location</button>
</div>
<script src="/js/default.js"></script>
<script src="/js/search/search.js"></script>
</body>
</html>
